td.creditalign{
	vertical-align:top;
}

img.article{
	float: right;
	margin: 10px;
}

.newstext2{
	padding: 15px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
}

.instructions{
	color:#009999;
}
label{
color:#009999;
}
body{
	background: #000000;
}




a{
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#009999;
	font-size:14pt;
}

input {
	font-family:georgia, times new-roman;
	font-style:italic;
	color:#333333;
	font-size:11px;
}


.nav{
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#009999;
	font-size:16px;
	text-align:center;
	padding:7px;
}

.above1{
	position:absolute;
	top:317px;
	left:726px;
	z-index:100;
	opacity:0;
}

.above2{
	position:absolute;
	top:317px;
	left:1735px;
	z-index:100;
	opacity:0
}

.above3{
	position:absolute;
	top:317px;
	left:2744px;
	z-index:100;
	opacity:0
}

.above4{
	position:absolute;
	top:317px;
	left:3753px;
	z-index:100;
	opacity:0
}

.above5{
	position:absolute;
	top:317px;
	left:4762px;
	z-index:100;
	opacity:0
}

.above6{
	position:absolute;
	top:317px;
	left:5771px;
	z-index:100;
	opacity:0
}

.above7{
	position:absolute;
	top:317px;
	left:6780px;
	z-index:100;
	opacity:0
}

.above8{
	position:absolute;
	top:317px;
	left:7789px;
	z-index:100;
	opacity:0
}

.above9{
	position:absolute;
	top:317px;
	left:8798px;
	z-index:100;
	opacity:0
}

.above10{
	position:absolute;
	top:317px;
	left:9807px;
	z-index:100;
	opacity:0
}


/* CLASSES FOR TEXT GO HERE */

.videolink{
	font-family:georgia, times new-roman, arial;
	font-size:16px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	cursor:pointer;
	margin:0px;
}

.imagedescription1{
	position:absolute;
	top:388px;
	left:757px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription2{
	position:absolute;
	top:388px;
	left:1766px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription3{
	position:absolute;
	top:388px;
	left:2775px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription4{
	position:absolute;
	top:388px;
	left:3784px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription5{
	position:absolute;
	top:388px;
	left:4793px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription6{
	position:absolute;
	top:388px;
	left:5802px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription7{
	position:absolute;
	top:388px;
	left:6811px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription8{
	position:absolute;
	top:388px;
	left:7820px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription9{
	position:absolute;
	top:388px;
	left:8829px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedescription10{
	position:absolute;
	top:388px;
	left:9838px;
	width:145px;
	height:63px;
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0

}

.imagedate1{
	position:absolute;
	top:448px;
	left:790px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate2{
	position:absolute;
	top:448px;
	left:1799px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate3{
	position:absolute;
	top:448px;
	left:2808px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate4{
	position:absolute;
	top:448px;
	left:3817px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate5{
	position:absolute;
	top:448px;
	left:4826px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate6{
	position:absolute;
	top:448px;
	left:5835px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate7{
	position:absolute;
	top:448px;
	left:6844px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate8{
	position:absolute;
	top:448px;
	left:7853px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate9{
	position:absolute;
	top:448px;
	left:8862px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.imagedate10{
	position:absolute;
	top:448px;
	left:9871px;
	font-family:georgia, times new-roman, arial;
	font-size:10px;
	color:#ffffff;
	text-align:left;
	z-index:150;
	opacity:0
}

.ace {
	color:#009999;
	font-family:arial, helvetica, verdana;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:30px;
}

.headertext{
	color:#ffffff;
	font-family:arial, helvetica, verdana;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:23px;
}

.headerendtext{
	color:#ffffff;
	font-family:arial, helvetica, verdana;
	padding-top:18px;
	margin:0px;
	border:0px;
	font-size:12px;
	float:right;
}

.headerendtext2{
	color:#333333;
	font-family:arial, helvetica, verdana;
	padding:0px 0px 8px 0px;
	margin:0px;
	border:0px;
	font-size:12px;
	float:right;
}

.newstext{
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	padding-left:18px;
}

.newsdatetext{
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#ffffff;
	font-style:italic;
	padding-left:18px;
}

a.newstitletext{
	font-family:georgia, times new-roman, arial;
	font-size:17px;
	color:#009999;
	padding-left:18px;
}

.conlocation{
	font-family:georgia, times new-roman, arial;
	font-size:18px;
	font-style:italic;
	color:#666666;
	padding-left:23px;
}

.phonenumb{
	float:right;
	font-family:georgia, times new-roman, arial;
	font-size:18px;
	color:#666666;
	padding-right:57px;
}

.conname{
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#666666;
	padding-left:18px;
}

.coninfo{
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#666666;
	padding-left:18px;
	margin-top:0px;
	line-height:16px;
}

.coninfo1{
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#666666;
	padding-left:4px;
	margin-top:0px;
	line-height:16px;
}

a.coninfo1:hover{
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:red;
	padding-left:4px;
	margin-top:0px;
	line-height:16px;
}

a.partnerslink{
	color:#666666;
	font-family:arial, helvetica, verdana;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:14px;
	text-decoration:none;
}

a.partnerslink:hover{
	color:red;
	font-family:arial, helvetica, verdana;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:14px;
	text-decoration:none;
}

a.paymentlink{
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#333333;
	font-style:italic;
	padding-left:18px;
	margin-top:0px;
	line-height:16px;
}










#centerdiv{
	position:relative;
	top:0px;
	left:50%;
	margin-left:-504px;
	width:1009px;
	display:inline-block;
}

#tophalfwrapper{
	position:relative;
	width:100%;
	margin-bottom:49px;
	display:inline-block;
}

#logo{
	position:absolute;
	top:0px;
	left:-14px;
	z-index:100;
}

#navbutton1{
	position:absolute;
	top:30px;
	left:243px;
	width:124px;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
	transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-o-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
}

#navbutton1:hover{
	position:absolute;
	top:30px;
	left:243px;
	width:124px;
	background-color:#333333;
	border-top:solid #333333 1px;
	border-bottom:solid #333333 1px;
	border-right:dotted #ffffff 1px;
	transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-moz-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-webkit-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-o-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
}

#navbutton1on{
	position:absolute;
	top:30px;
	left:243px;
	width:124px;
	background-color:#333333;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
}

#navbutton2{
	position:absolute;
	top:30px;
	left:368px;
	width:160px;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
	transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-o-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
}

#navbutton2:hover{
	background-color:#333333;
	border-top:solid #333333 1px;
	border-bottom:solid #333333 1px;
	transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-moz-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-webkit-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-o-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
}

#navbutton2on{
	position:absolute;
	top:30px;
	left:368px;
	width:160px;
	background-color:#333333;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
}

#navbutton3{
	position:absolute;
	top:30px;
	left:529px;
	width:166px;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
}

#navbutton3:hover{
	background-color:#333333;
	border-top:solid #333333 1px;
	border-bottom:solid #333333 1px;
}

#navbutton3on{
	position:absolute;
	top:30px;
	left:529px;
	width:166px;
	background-color:#333333;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
}

#navbutton4{
	position:absolute;
	top:30px;
	left:696px;
	width:137px;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
	transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
	-o-transition: background-color .4s ease-in-out, border-top .4s ease-in-out, border-bottom .4s ease-in-out;
}

#navbutton4:hover{
	background-color:#333333;
	border-top:solid #333333 1px;
	border-bottom:solid #333333 1px;
	transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-moz-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-webkit-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
	-o-transition: background-color .05s ease-in-out, border-top .05s ease-in-out, border-bottom .05s ease-in-out;
}

#navbutton4on{
	position:absolute;
	top:30px;
	left:368px;
	width:160px;
	background-color:#333333;
	border-top:solid #000000 1px;
	border-right:dotted #ffffff 1px;
}

#searchbarinput{
	position:relative;
	/* margin-top:51px; */
	margin-top:30px;
	/* left:810px; */
	left:850px;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border:0px;
    background-color:#666666;
    width:134px;
    height:24px;
}


#slideshow{
	position:relative;
	margin-top:26px;
	height:auto;
	width:1009px;
	overflow:hidden;
	border-bottom:1px dotted #ff3333;
}

#slidervideolink1{
	position:absolute;
	top:367px;
	left:757px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink2{
	position:absolute;
	top:367px;
	left:1766px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink3{
	position:absolute;
	top:367px;
	left:2775px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink4{
	position:absolute;
	top:367px;
	left:3784px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink5{
	position:absolute;
	top:367px;
	left:4793px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink6{
	position:absolute;
	top:367px;
	left:5802px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink7{
	position:absolute;
	top:367px;
	left:6811px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink8{
	position:absolute;
	top:367px;
	left:7820px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink9{
	position:absolute;
	top:367px;
	left:8829px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slidervideolink10{
	position:absolute;
	top:367px;
	left:9838px;
	border-bottom:1px solid #cc6633;
	z-index:600;
	opacity:0
}

#slideshowbuttons{
	position:relative;
	width:100%;
	margin:0px;
	padding:0px;
	z-index:700;
	cursor:pointer;
	margin-bottom:30px;
}

#slideshowbuttons table{
	width:1029px;
	margin-top:35px;
	margin-left:-10px;
}

#slideshowbuttons table td{
	vertical-align:middle;
	text-align:center;
}

#slideshowbuttons #highlight{
	position:absolute;
	top:-8px;
	left:39px;
	margin-left:-17px;
	z-index:200;
}






#bottomhalfwrapper{
	position:relative;
	border:0px;
	margin:0px;
	padding:0px;
	width:100%;
	display:inline-block;
}

#content{
	position:relative;
	width:100%;
	padding:0px;
	margin:0px;
	display:inline-block;
}

.slideexpandbutton {
	position:absolute;
	width:100%;
	font-family:georgia, times new-roman, arial;
	font-size:13px;
	letter-spacing:1px;
	font-style:italic;
	font-weight:400;
	color:#ff6666;
	text-align:center;
	display:inline-block;
	margin-bottom:20px;
	cursor:pointer;
	bottom:0px;
	z-index:2000;
	text-shadow: 0.1em 0.1em 0.1em black;
}

.slideminimizebutton {
	position:absolute;
	width:100%;
	font-family:georgia, times new-roman, arial;
	font-size:13px;
	letter-spacing:1px;
	font-style:italic;
	color:#ff6666;
	text-align:center;
	display:inline-block;
	margin-bottom:20px;
	cursor:pointer;
	bottom:0px;
	z-index:2000;
	display:none;
}










/* ALL CONTAINED IN THE LEFT CONTENT COLUMN */



#contentleft{
	float:left;
	top:0px;
	bottom:0px;
	width:299px;
	display:inline-block;
	margin-bottom:180px;
}

#equipmentlistheader{
	position:relative;
	width:100%;
	border-bottom:4px solid #cccccc;
	padding-bottom:4px;
}



#expandclosebuttons {
	position:relative;
	margin-top:7px;
	border-top:#ffffff dotted 1px;
	border-bottom:#ffffff dotted 1px;
	height:42px;
	width:100%;
	margin-bottom:8px;
}

.expandbutton {
	font-family:georgia, times new-roman, arial;
	font-size:18px;
	letter-spacing:1px;
	font-style:italic;
	float:left;
	color:#009999;
	text-align:center;
	z-index:150;
	cursor:pointer;
	margin:0px;
	width:50%;
	margin-top:9px;
}

.closebutton {
	font-family:georgia, times new-roman, arial;
	font-size:18px;
	letter-spacing:1px;
	font-style:italic;
	float:right;
	color:#009999;
	text-align:center;
	z-index:150;
	cursor:pointer;
	margin:0px;
	width:50%;
	margin-top:9px;
}

#equipmentlist_item1 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

.equipmentlist_item {
	position: relative;
	width: 278px;
	height: 33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

.equipmentlist_item:hover {
	background:url('images/colors/3cc1bc.png');
}

.equipmentlist_subgroup {
	display:none;
	position:relative;
	width:100%;
}

.equipmentlist_subitem {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

.equipmentlist_subitem:hover{
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item1:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup1 {
	display:none;
	position:relative;
	width:100%;
}


#equipmentlist_subitem1 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item2 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item2:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup2 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_2 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_2:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_2 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_2:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item3 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item3:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup3 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_3 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_3:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_3 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_3:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_3 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_3:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem4_3 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem4_3:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item4 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item4:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup4 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_4 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_4:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_4 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_4:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_4 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_4:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem4_4 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem4_4:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem5_4 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem5_4:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item5 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item5:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup5 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_5 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_5:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_5 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_5:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_5 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_5:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem4_5 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem4_5:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem5_5 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem5_5:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item6 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item6:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup6 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_6 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_6:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_6 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_6:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_6 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_6:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem4_6 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem4_6:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem5_6 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem5_6:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item7 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item7:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup7 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_7 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_7:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_7 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_7:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_7 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_7:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem4_7 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem4_7:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item8 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item8:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup8 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_8 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_8:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_8 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_8:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_8 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_8:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item9 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item9:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup9 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_9 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_9:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_9 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_9:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_9{
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_9:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_item10 {
	position:relative;
	width:278px;
	height:33px;
	background-color:#009999;
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_item10:hover {
	background:url('images/colors/3cc1bc.png');
}

#equipmentlist_subgroup10 {
	display:none;
	position:relative;
	width:100%;
}

#equipmentlist_subitem1_10 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem1_10:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem2_10 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem2_10:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem3_10 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem3_10:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem4_10 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem4_10:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem5_10 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem5_10:hover {
	background-image:url('images/colors/d9dede.png');
}

#equipmentlist_subitem6_10 {
	position:relative;
	width:278px;
	height:33px;
	background-image:url('images/colors/bfe1e1.png');
	margin-top:4px;
	margin-left:10px;
}

#equipmentlist_subitem6_10:hover {
	background-image:url('images/colors/d9dede.png');
}

.equipmentlist_text {
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#ffffff;
	font-size:11pt;
}

.equipmentlist_text2 {
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#666666;
	font-size:11pt;
}

.equipmentbuttonpadding {
	padding:8px;
	cursor:pointer;
}

.plus {
	float:right;
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#333333;
	font-size:11pt;
}

.minus {
	float:right;
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#333333;
	font-size:11pt;
	display:none;
}










/* RIGHT COLUMN CONTENT SPECIFIC TO CONTENT PAGE */

.header2 {
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	font-weight:700;
	color:#009999;
	font-size:11pt;
	line-height:2;
}

td.credittext {
font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#cccccc;
	font-size:11pt;
	line-height:1.2;

}

br.credittext {
font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#cccccc;
	font-size:11pt;
	line-height:1.2;

}

p.credittext {
font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#cccccc;
	font-size:11pt;
	line-height:1.2;

}

span.credittext {
font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#FFFFFF;
	font-size:11pt;
	line-height:1.2;

}

a.credittext {
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#cccccc;
	font-size:11pt;
	line-height:1.2;

}

a.credittext:hover{
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:red;
	font-size:11pt;
	line-height:1.2;
}

span.accessorytext a{
	font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:#cccccc;
	font-size:11pt;
	line-height:1.2;
}

span.accessorytext a:hover{
font-family:arial,helvetica,verdana;
	text-decoration:none;
	color:red;
	font-size:11pt;
	line-height:1.2;
}


.descriptiontext {
	font-family:georgia, times new-roman, arial;
	font-size:12px;
	color:#cccccc;
	text-align:left;
}

#contentright{
	position:relative;
	float:right;
	width:660px;
	margin-bottom:180px;
}

#systemdetailsheader{
	position:relative;
	width:100%;
	border-bottom:4px solid #cccccc;
	padding-bottom:4px;
	margin-bottom:0px;
}

#systemdetailscontainer{
	width:100%;
	display:block;
	position:relative;
	border-bottom:#ffffff dotted 1px;
	padding-bottom:20px;
}

#video{
	position:relative;
	/* width:100%; */
	padding:14px 0px 14px 0px;
}

#datasheetsheader {
	position:relative;
	width:100%;
	border-bottom:#ffffff dotted 1px;
	margin-bottom:13px;
}

#datasheetcontainer {
	position:relative;
	width:100%;
	display:block;
}

#descriptionheader {
	position:relative;
	width:100%;
	border-bottom:#ffffff dotted 1px;
	margin-bottom:13px;
}

#descriptioncontainer {
	position:relative;
	width:100%;
	display:block;
}

#creditsheader {
	position:relative;
	width:100%;
	border-bottom:#ffffff dotted 1px;
	margin-bottom:13px;
}

#creditscontainer {
	position:relative;
	width:100%;
	display:block;
}



















#footer {
	position:relative;
	width:100%;
	background-image:url('images/colors/c5c6c8.png');
	display:inline-block;
	border:0px;
	padding:0px;
	margin:0px;
}

#footercontent{
	position:relative;
	width:100%;
	display:inline-block;
}

#footercentering{
	position:relative;
	left:50%;
	width:886px;
	margin-left:-443px;
}

#footerleft {
	position:relative;
	float:left;
	display:inline-block;
	width:422px;
}

#footerright{
	position:relative;
	float:right;
	display:inline-block;
	width:422px;

}

#footerbottom {
	position:relative;
	background-image:url('images/colors/d7d7d7.png');
	height:60px;
	width:100%;
	margin-bottom:0px;
}




#contactheader{
	position:relative;
	width:100%;
	border-bottom:4px solid #666666;
	margin-bottom:0px;
	display:inline-block;
	margin-top:42px;
}

#contacts{
	position:relative;
	width:100%;
	margin-top:0px;
	padding-top:0px;
	border-top:0px;
}

#officenumbers{
	position:relative;
	width:100%;
	border:0px;
	margin:0px;
	padding:0px;
}

#newyork{
	position:relative;
	
	height:35px;
	border-bottom:1px dotted #666666;
	margin-top:0px;
	padding-top:0px;
	border-top:0px;
	vertical-align:middle;
	width:100%;
}

#baltimore{
	position:relative;
	height:35px;
	border-bottom:1px dotted #666666;
	margin-top:0px;
	padding-top:0px;
	border-top:0px;
	vertical-align:middle;
	width:100%;
}

#losangelas{
	position:relative;
	height:35px;
	border-bottom:1px dotted #666666;
	margin-top:0px;
	padding-top:0px;
	border-top:0px;
	vertical-align:middle;
	width:100%;
}

#fax{
	position:relative;
	height:35px;
	border-bottom:1px dotted #666666;
	margin-top:0px;
	padding-top:0px;
	border-top:0px;
	vertical-align:middle;
	width:100%;
}

#individualcontacts{
	position:relative;
	width:100%;
}

#individualcontacts td{
	padding-left:10px;
	padding-top:15px;
	padding-bottom:0px;
}

#individualcontacts #left{
	width:50%;
}

#individualcontacts #right{
	width:50%;
}

/* #right { 
	margin-top:19px;
	margin-bottom:50px;
} */




#partnersheader{
	position:relative;
	width:100%;
	margin-top:42px;
	border-bottom:4px solid #666666;
	margin-bottom:0px;
	display:inline-block;
}

#linklist{
	position:relative;
	width:100%;
	border-bottom:1px dotted #666666;
	margin-top:0px;
	padding-top:12px;
	border-top:0px;
	padding-bottom:16px;
	height:127px;
}



#iconwrapper{
	position:relative;
	float:right;
	margin-right:18px;
	margin-top:25px;
	width:132px;
	z-index:200;
}

.icon1{
	position:absolute;
	top:0px;
	left:0px;
	padding:4px;
	background:transparent url('images/icons/facebookicon.png') center top no-repeat;
	height:40px;
	width:40px;
	margin-top:16px;
}

.icon1:hover{
	padding:4px;
	background:transparent url('images/icons/facebookicon_over.png') center top no-repeat;
}

.icon2{
	position:absolute;
	top:0px;
	left:46px;
	padding:4px;
	background:transparent url('images/icons/imdbicon.png') center top no-repeat;
	height:40px;
	width:40px;
	margin-top:16px;
}

.icon2:hover{
	padding:4px;
	background:transparent url('images/icons/imdbicon_over.png') center top no-repeat;
}

.icon3{
	position:absolute;
	top:0px;
	left:92px;
	padding:4px;
	background:transparent url('images/icons/youtubeicon.png') center top no-repeat;
	height:40px;
	width:40px;
	margin-top:16px;
}

.icon3:hover{
	padding:4px;
	background:transparent url('images/icons/youtubeicon_over.png') center top no-repeat;
}




